h1 {
  margin-left: 80px;
  margin-top: 40px;
}
h2 {
  margin-left: 80px;
}
p {
  margin-left: 80px;
  margin-right: 80px;
}
body {
  margin-bottom: 80px;
}
.quote {
  margin-left: 120px;
  margin-right: 100px;
  padding: 20px;
  background: lightsteelblue;
}
