h1 {
  margin-left: 80px;
  margin-top: 40px;
}
h2 {
  margin-left: 80px;
}
p {
  margin-left: 80px;
  margin-right: 80px;
  text-align: justify;
}
body {
  margin-bottom: 80px;
}
blockquote {
  margin-left: 140px;
  margin-right: 100px;
  padding: 40px;
  background: lightsteelblue;
  text-align: justify;
}
.bigCap {
  font-family: "hoefler text";
  font-size: 62px;
  float: left;
  margin-left: 80px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: -20px;
}
