h1 {
  margin-left: 80px;
  margin-top: 40px;
}
h2 {
  margin-left: 80px;
}
h3 {
  margin-left: 80px;
}
p {
  margin-left: 80px;
  margin-right: 80px;
  text-align: justify;
}
body {
  margin-bottom: 80px;
}
blockquote {
  margin-left: 142px;
  margin-right: 142px;
  padding: 40px;
  background: lightsteelblue;
  text-align: justify;
}
.bigCap {
  font-family: "hoefler text";
  font-size: 62px;
  float: left;
  margin-left: 80px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: -20px;
}
.limg { /* images that display on the left */
    margin-left: 80px;
  float: left;
}
.rimg { /* images that display on the right */
    margin-right: 80px;
  float: right;
}
